{% include 'header.html' %}
    {% for each_post in all_posts: %}
        {% if each_post.id == blog_id %}
        <!-- Page Header-->
          <header class="masthead" style="background-image: url('{{ each_post.image_url }}')">
          <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">

                  <h1> {{ each_post.title }} </h1>
                  <h2 class="subheading">{{ each_post.subtitle }}</h2>
                  <span class="meta">
                    Posted by
                    <a href="#!">{{ each_post.author }}</a>
                    on {{ each_post.date }}
                  </span>

                </div>
              </div>
            </div>
          </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
          <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">

                <p>{{ each_post.body }}</p>

              </div>
            </div>
          </div>
        </article>

        {% endif %}
    {% endfor %}
{% include 'footer.html' %}
